---
import { PageWrapper } from "shared/ui/PageWrapper/PageWrapper";
import { Section } from "shared/ui/Section/Section";
import { FormSection } from "widgets/FormSection/FormSection";
import { TestimonialPage } from "pageComponents/TestimonialsPage/TestimonialsPage";
import Layout from "layouts/Layout.astro";
import { ITestimonialsData, fetchGlobalData, fetchSectionData } from "shared/const/firebaseVariables";
import { getLangFromUrl } from "shared/lib/i18n/getLangFromUrl";
import cave from "widgets/Main/const/dungeon.webp"
import type { IGlobalData } from "shared/types/IGlobalData";


const language = getLangFromUrl(Astro.url)
const testimonialsData = await fetchSectionData(language, "testimonials") as ITestimonialsData[];
const globalData = await fetchGlobalData() as IGlobalData
const {sectionNames, buttons,formData ,layoutData} = globalData
const { cta } = buttons[language]
---

<Layout image={cave}>
    <PageWrapper title={layoutData.navList[language][4].text} main={layoutData.navList[language][0].text}>
        <Section>
            <TestimonialPage client:load cta={cta} data={testimonialsData}/>
        </Section>
        <FormSection client:load title={sectionNames[language].form} button={cta} data={formData[language]}/>
    </PageWrapper>
</Layout>
