---
import { Header } from "widgets/Header"
import { Footer } from "widgets/Footer/Footer";
import { ILayoutData, IOtherData, fetchGlobalData, fetchSectionData } from "shared/const/firebaseVariables";
import "./Layout.scss"
import {LogoLink} from "shared/components/LogoLink/LogoLink"
import type { LanguageType } from "shared/types/types";
import {getLangFromUrl} from 'shared/lib/i18n/getLangFromUrl'
import type { IGlobalData } from "shared/types/IGlobalData";

const defaultLanguage:LanguageType = "en"


const language: LanguageType =  getLangFromUrl(Astro.url)
const globalData = await fetchGlobalData() as IGlobalData
const {layoutData, addressData, socialsData} = globalData

const { image } = Astro.props;
---

<!DOCTYPE html>
<html lang={language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Leovink Tattoo</title>
    </head>
    <body>
        {image && <div class='layout__dungeon-background' style={{backgroundImage: `url(${image})`}} />}
        <Header client:load language={language} defaultLanguage={defaultLanguage} data={layoutData.navList[language]} socialsData={socialsData}>
            <LogoLink language={language} defaultLanguage={defaultLanguage}/>
        </Header>
        <slot />
        <Footer data={layoutData.footerList[language]} addressData={addressData} language={language} socialsData={socialsData}>  
            <LogoLink language={language} defaultLanguage={defaultLanguage}/>
        </Footer>
    </body>
</html>
