---
import { Header } from "widgets/Header"
import { Footer } from "widgets/Footer/Footer";
import { ILayoutData, IOtherData, fetchSectionData } from "shared/const/firebaseVariables";
import "./Layout.scss"
import {LogoLink} from "shared/components/LogoLink/LogoLink"
import type { LanguageType } from "shared/types/types";

const language: LanguageType =  "en" 
const otherData = await fetchSectionData(language, "other", true) as IOtherData;
const {defaultLanguage} = otherData;
const layoutData = await fetchSectionData(language, "layout",true) as ILayoutData;
---

<!DOCTYPE html>
<html lang={language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Leovink Tattoo</title>
    </head>
    <body>
        <Header client:load language={language} defaultLanguage={defaultLanguage} data={layoutData.navlist}>
            <LogoLink language={language} defaultLanguage={defaultLanguage}/>
        </Header>
        <slot />
        <Footer data={layoutData.footer}>  
            <LogoLink language={language} defaultLanguage={defaultLanguage}/>
        </Footer>
    </body>
</html>
