---
import styles from "./Main.module.scss"
import leovinkTitle from "./const/leovinkLogo.png"
import leovinkCaption from "./const/leovCaption.png"
import leovinkHorns from "./const/leovinkHorns.png"
import layerBaseImg from "./const/layer-base.png"
import layerMiddleImg from "./const/layer-middle.png"
import layerFrontImg from "./const/layer-front.png"
import { ScrollIcon } from "shared/ui/ScrollIcon/ScrollIcon"

---

<script is:inline>
    window.addEventListener('scroll', e => {
        document.documentElement.style.setProperty('--scrollTop', `${window.scrollY}px`)
    })
</script>

<header class={styles.wrapper}>
    <div class={styles.container}>
        <div class={styles.textContainer}>
            <img src={leovinkHorns} alt="" class={styles.horns} />
            <img src={leovinkTitle} alt="" class={styles.title} />
            <img src={leovinkCaption} alt="" class={styles.caption} />
        </div>
        <div
        class={`${styles.layerBase} ${styles.layer}`}
            style={{ backgroundImage: `url(${layerBaseImg})` }}
        ></div>
        <div
        class={`${styles.layerMiddle} ${styles.layer}`}
            style={{ backgroundImage: `url(${layerMiddleImg})` }}
        ></div>
        <div
        class={`${styles.layerFront} ${styles.layer}`}
            style={{ backgroundImage: `url(${layerFrontImg})` }}
        ></div>
        <ScrollIcon className={styles.scroll} />
    </div>
</header>
<slot />