---
import styles from "./Main.module.scss"
import leovinkTitle from "./const/leovinkLogo.png"
import leovinkCaption from "./const/leovCaption.png"
import leovinkHorns from "./const/leovinkHorns.png"
import layerBaseImg from "./const/base-bg.png"
import layerMiddleImg from "./const/layer-middle.png"
import layerFrontImg from "./const/layer-front.png"
import dungeonImg from "./const/dungeon.webp"
import established from "./const/est.webp"
import { ScrollIcon } from "shared/ui/ScrollIcon/ScrollIcon"
---
        <header class={styles.mainWrapper}>
           <div id="main-container" class={styles.mainContainer}>
            <div class={styles.textContainer}>
                    <img src={leovinkHorns} class={styles.horns} />
                    <img src={leovinkTitle} alt="" class={styles.title} />
                    <img src={leovinkCaption} alt="" class={styles.caption} />
                    <img class={styles.est} src={established} alt="">
                </div>
                <div
                class={`${styles.layerBase} ${styles.layer}`}
                >
              <img src={layerBaseImg} alt="">
              </div>
                <div
                class={`${styles.layerMiddle} ${styles.layer}`}
                    style={{ backgroundImage: `url(${layerMiddleImg})` }}
                ></div>
                <div
                class={`${styles.layerFront} ${styles.layer}`}
                    style={{ backgroundImage: `url(${layerFrontImg})` }}
                ></div>
          
                <ScrollIcon client:load className={styles.scroll} />
            </div>
        </header>
        <div class={styles.dungeon} id="dungeon" style={{backgroundImage: `url(${dungeonImg})`}} />            
            <slot/>
            
<script is:inline>
    const dungeon = document.getElementById("dungeon")
    const height = window.innerHeight
    const onScroll = throttle(() => {
        const scroll = window.scrollY
        document.documentElement.style.setProperty('--scrollTop', `${scroll}px`)
    }, 50)

    window.addEventListener('scroll', () => {
    onScroll()
    })

    function throttle(func, delay) {
    let timeoutId;
    let lastExecutedTime = 0;

  return function (...args) {
    const currentTime = new Date().getTime();

    if (currentTime - lastExecutedTime < delay) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(() => {
        lastExecutedTime = currentTime;
        func(...args);
      }, delay);
    } else {
      lastExecutedTime = currentTime;
      func(...args);
    }
  };
}

</script>

<!-- style={{ backgroundImage: `url(${layerBaseImg})` }} -->