---
import styles from "./Main.module.scss"
import leovinkTitle from "./const/leovinkLogo.png"
import leovinkCaption from "./const/leovCaption.png"
import leovinkHorns from "./const/leovinkHorns.png"
import layerBaseImg from "./const/layer-base.png"
import layerMiddleImg from "./const/layer-middle.png"
import layerFrontImg from "./const/layer-front.png"
import dungeonImg from "./const/dungeon.jpg"
import { ScrollIcon } from "shared/ui/ScrollIcon/ScrollIcon"
---
        <header class={styles.mainWrapper}>
           <div id="main-container" class={styles.mainContainer}>
                <div class={styles.textContainer}>
                    <div style={{backgroundImage: `url(${leovinkHorns})`}} class={styles.horns} />
                    <img src={leovinkTitle} alt="" class={styles.title} />
                    <img src={leovinkCaption} alt="" class={styles.caption} />
                </div>
                <div
                class={`${styles.layerBase} ${styles.layer}`}
                    style={{ backgroundImage: `url(${layerBaseImg})` }}
                ></div>
                <div
                class={`${styles.layerMiddle} ${styles.layer}`}
                    style={{ backgroundImage: `url(${layerMiddleImg})` }}
                ></div>
                <div
                class={`${styles.layerFront} ${styles.layer}`}
                    style={{ backgroundImage: `url(${layerFrontImg})` }}
                ></div>
                <ScrollIcon client:load className={styles.scroll} />
            </div>
        </header>
        <div class={styles.dungeon} id="dungeon" style={{backgroundImage: `url(${dungeonImg})`}} />            
            <slot/>
            
<script is:inline>
    const dungeon = document.getElementById("dungeon")
    const height = window.innerHeight

    window.addEventListener('scroll', () => {
        const scroll = window.scrollY
        document.documentElement.style.setProperty('--scrollTop', `${scroll}px`)
       dungeon.style.top = height-scroll > 0 ? `${height - scroll}px`: `0`
    })
</script>