---
import styles from "./Main.module.scss"
import leovinkTitle from "./const/leovinkLogo.webp"
import leovinkHorns from "./const/leovinkHorns.png"
import layerBaseImg from "./const/base-bg.webp"
import layerBaseImgLowRes from "./const/base-bg-low-res.webp"
import layerMiddleImg from "./const/layer-middle.webp"
import layerMiddleImgLowRes from "./const/layer-middle-low-res.webp"
import layerFrontImg from "./const/layer-front.webp"
import layerFrontImgLowRes from "./const/layer-front-low-res.webp"
import dungeonImg from "./const/dungeon2.webp"
import { ScrollIcon } from "shared/ui/ScrollIcon/ScrollIcon"
import {LazyLoadingImage} from "./LazyLoadingImage/LazyLoadingImage"
---
        <header class={styles.mainWrapper}>
           <div id="main-container" class={styles.mainContainer}>
            <div class={styles.textContainer}>
                    <img src={leovinkHorns} class={styles.horns} />
                    <img src={leovinkTitle} alt="" class={styles.title} />
                    <p class={styles.caption}>TATTOO & PIERCING</p>
                    <p class={styles.est}>EST. 2010</p>
                </div>
                <LazyLoadingImage 
                    client:only 
                    src={layerBaseImg} 
                    backgroundImage={layerBaseImgLowRes} 
                    className={`${styles.layerBase} ${styles.layer}`}
                    imgClassName={styles.baseImg}
                 />
       
                <LazyLoadingImage
                    client:only
                    src={layerMiddleImg}
                    backgroundImage={layerMiddleImgLowRes}
                    className={`${styles.layerMiddle} ${styles.layer}`}
                    imgClassName={styles.baseImg}
                />

                <LazyLoadingImage
                    client:only
                    src={layerFrontImg}
                    backgroundImage={layerFrontImgLowRes}
                    className={`${styles.layerFront} ${styles.layer}`}
                    imgClassName={styles.baseImg}
                />
          
                <ScrollIcon client:load className={styles.scroll} />
            </div>
        </header>
        <div class={styles.dungeon} id="dungeon" style={{backgroundImage: `url(${dungeonImg})`}} />            
            <slot/>
            
<script is:inline>
    const onScroll = throttle(() => {
        const scroll = window.scrollY
        document.documentElement.style.setProperty('--scrollTop', `${scroll}px`)
    }, 50)

    window.addEventListener('scroll', onScroll)

    function throttle(func, delay) {
    let timeoutId;
    let lastExecutedTime = 0;

  return function (...args) {
    const currentTime = new Date().getTime();

    if (currentTime - lastExecutedTime < delay) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(() => {
        lastExecutedTime = currentTime;
        func(...args);
      }, delay);
    } else {
      lastExecutedTime = currentTime;
      func(...args);
    }
  };
}
</script>